{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}
    <p>hi <strong>{{user.username}}</strong>!!</p>
    <a href="{% url 'account_logout' %}">Logout</a>
{% else %}
    <a href="{% url 'account_login' %}">Login</a>
    <a href="{% url 'account_signup' %}">signup</a>
{% endif %}
{% for product in object_list %}
<div>
    <h2>{{ product.name }}</h2>
    <ul>
        <li>{{ product.price }}</li>
    </ul>
    <p>
        {{ product.description }}
    </p>
</div>
{% endfor %}
{% endblock content %}